@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'pretendard-medium';
    src: url('./assets/fonts/pretendard-medium.eot');
    src: url('./assets/fonts/pretendard-medium.eot?#iefix')
        format('embedded-opentype'),
      url('./assets/fonts/pretendard-medium.woff2') format('woff2'),
      url('./assets/fonts/pretendard-medium.woff') format('woff'),
      url('./assets/fonts/pretendard-medium.ttf') format('truetype');
    font-display: block;
  }

  div#root {
    font-family: pretendard-medium, Inter, system-ui, Avenir, Helvetica, Arial,
      sans-serif;
    word-break: keep-all;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px;
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
    @apply flex flex-col max-w-[100vw] min-h-[100vh] m-0 leading-[1.5] font-normal tracking-normal box-border select-none;
  }

  button {
    @apply cursor-pointer;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h4 {
    @apply text-base;
  }

  p {
    @apply text-sm;
  }

  * {
    @apply outline-none;
  }

  *:disabled {
    @apply cursor-not-allowed !important;
  }
}
